@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    background-color: #4c4c4c;
    color: white;
    margin-left: 10px;
}

h1{
    font-family: 'Fjalla One', sans-serif;
    color: #fb9e25;
    font-size: 5vw;
}

textarea{
    width:800px;
    height: 250px;
    background-color: lightyellow;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;

}

button {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:11px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Nunito', sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
button:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
button:active {
	position:relative;
	top:1px;
}
input{
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    margin-bottom: 10px;
}